<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ABC_Car_Traders_.Properties.Settings.ABC_Car_Traders_ConnectionString"
            connectionString="Data Source=RIFDHIRAMIZ\SQLEXPRESS;Initial Catalog=ABC_Car_Traders_;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
